[Unit]
Description=Run pending preinsts
DefaultDependencies=no
Before=sysinit.target run-postinsts.service systemd-tmpfiles-setup.service
After=systemd-remount-fs.service tmp.mount

[Service]
Type=oneshot
ExecStart=#SBINDIR#/run-preinsts
ExecStartPost=#BASE_BINDIR#/systemctl --no-reload disable run-preinsts.service
RemainAfterExit=No
TimeoutSec=0

[Install]
WantedBy=sysinit.target
