*filter
# Whitelist loopback, as other rules only allow enp* ports
-A INPUT -i lo -p tcp -m tcp -j ACCEPT
-A INPUT -i lo -p udp -m udp -j ACCEPT

# Allow established connections from all ports
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# Allow SSH from management port(s) enp* only
-A INPUT ! -i enp+ -p tcp -m tcp --dport 22 -j DROP

# Allow baseboxd port counters gRPC server port access only on management port(s) enp*
-A INPUT ! -i enp+ -p tcp -m tcp --dport 5000 -j DROP

# Allow baseboxd OpenFlow controller port only from management port(s) enp*
-A INPUT ! -i enp+ -p tcp -m tcp --dport 6653 -j DROP

# Allow ofdpa-grpc gRPC server port connections only on management port(s) enp*
-A INPUT ! -i enp+ -p tcp -m tcp --dport 50051 -j DROP
COMMIT
