[Unit]
Description=Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=@SBINDIR@/iptables-restore /etc/iptables/iptables.rules -w
ExecReload=@SBINDIR@/iptables-restore /etc/iptables/iptables.rules -w
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
